/* general styles */
html, body {
	height: 100%;
	width: 100%;
}
/* padded section */
.pad-section {
	padding: 50px 0;
}

.pad-section1 {
	padding: 200px 0;
}
.pad-section img {
	width: 60%;
}
/* vertical-centered text */
.text-vcenter {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
}

.text-vcenter h1 {
	font-size: 4.5em;
	font-weight: 700;
	margin: 0;
	padding: 0;
}
/* additional sections */
#section1 {
	background: url(../images/home.jpg) no-repeat center center fixed;
	display: table;
	height: 100%;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#section2 {
	
}

#section3 {
	background-color: #306d9f;
	color: #ffffff;
}

#section3 .glyphicon {
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	display: inline-block;
	font-size: 60px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	vertical-align: middle;
	width: 140px;
}

#section4 {
	background: url(../images/estate.jpg) no-repeat center center fixed;
	display: table;
	height: 800px;
	position: relative;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#section4 .panel {
	opacity: 0.85;
}
#services-section1{
/* background-color: #E74C3C; */
	color: #333;
}
#list-prices{
	
	font-family:"Arapey",serif;
	color: #003;
	font-weight:300;
	
}
#list-prices p{
	text-align:center;
}
#list-prices p a{
	text-decoration:none;
}
#list-prices p a:hover, .text-link:hover {
    color: #003;
}
.text-link{
	text-decoration:none;
	border-bottom: 1px solid #de0421;
	
}
.table td { 
     border-top: none !important; 
 }
footer {
	padding: 20px 0;
}

footer .glyphicon {
	color: #333333;
	font-size: 60px;
}

footer .glyphicon:hover {
	color: #306d9f;
}